﻿[JavaScript:{ jsname: "JQuery" }]
[JavaScript:{ jsname: "Knockout" }]
[JavaScript:{ path: "~/Resources/Shared/scripts/dnn.jquery.js"}]
[JavaScript:{ path: "~/DesktopModules/Banff/scripts/ItemView.js"}]
<!--JavaScript:{ path: "~/DesktopModules/Banff/Zaui_API.js"}]-->

[ModuleAction:{controlKey : "Edit", securityAccessLevel : "Edit",  titleKey: "EditModule", localResourceFile: "~/DesktopModules/Banff/App_LocalResources/View.resx" }]

<div id="Items-[ModuleContext:ModuleId]">
	<ul class="tm_tl" data-bind="foreach: itemList">
		<li class="tm_t">
			<h3 data-bind="text: name"></h3>
			<div class="tm_td" data-bind="text: description"></div>
			<div data-bind="visible: $parent.editMode()">
				<a data-bind="attr: {href: editUrl}">[Resx:{key:"EditItem"}]</a>
				<a data-bind="click: $parent.deleteItem" href="#">[Resx:{key:"DeleteItem"}]</a>
			</div>
		</li>
	</ul>
</div>

<script language="javascript" type="text/javascript">

	jQuery(function ($) {
		var moduleId = parseInt("[ModuleContext:ModuleId]");

		var localizedSettings = {};

		var viewmodel = new Banff.itemListViewModel(moduleId, localizedSettings);
		viewmodel.init();

		ko.applyBindings(viewmodel, $("#Items-" + moduleId)[0]);

	});
var ZauiAPI = (function () {
	function ZauiAPI() { }

	ZauiAPI.prototype.getZauiData = function (p_data) {
		var service2 = {
			path: "Banff",
			framework: $.ServicesFramework(parseInt("[ModuleContext:ModuleId]"))
		};
		service2.baseUrl = service2.framework.getServiceRoot(service2.path) + "zaui/zaui/getZauiData";
		var restUrl2 = service2.baseUrl;
		var jqXHR2 = $.ajax({
			url: restUrl2,
			beforeSend: service2.framework.setModuleHeaders,
			method: "POST",
			dataType: "json",
			data: p_data
		}).done(function (data) {
			if (data) {

				var zauiResponse = $.parseJSON(data);

				//console.log(zauiResponse);
				console.log(zauiResponse.response);
				console.log("Zaui Version: " + zauiResponse.response.zapiVersion);
				console.log("Error: " + zauiResponse.response.error);
				console.log("Message: " + zauiResponse.response.message);
				console.log("MethodResponse: ");
				console.log(zauiResponse.response.methodResponse);
				//console.log(zauiResponse.response.methodResponse.categories.category[3].categoryName['#cdata-section']);
				/*
				 console.log(zauiResponse.response.methodResponse.methodName);
				 console.log(zauiResponse.response.methodResponse.categories.category[3].categoryId);
				 console.log(zauiResponse.response.methodResponse.categories.category[3].categoryName);
				 console.log(zauiResponse.response.methodResponse.categories.category[3].numberOfPackages);
				 */
			}
			else {
			}
		}).always(function (data) {

		});
	};
	ZauiAPI.prototype.zapiPing = function () { };
	ZauiAPI.prototype.zapiGetSystemInformation = function () {
		this.getZauiData({ "methodName": "zapiGetSystemInformation" });
	};
	ZauiAPI.prototype.zapiGenerateBarCodeImage = function () {
		this.getZauiData({ "methodName": "" });
	};
	ZauiAPI.prototype.zapiClearCartSession = function (p_cartId) {
		//this.getZauiData( {"methodName": "zapiClearCartSession", "cartId": p_cartId} );
		this.getZauiData({ "methodName": "zapiClearCartSession", "xmlData": "<cartId>" + p_cartId + "</cartId>" });
	};
	ZauiAPI.prototype.zapiRemoveCartSession = function (p_cartId) {
		//this.getZauiData( {"methodName": "zapiRemoveCartSession", "cartId": p_cartId} );
		this.getZauiData({ "methodName": "zapiRemoveCartSession", "xmlData": "<cartId>" + p_cartId + "</cartId>" });
	};
	ZauiAPI.prototype.zapiGetAllCartSessions = function () {
		this.getZauiData({ "methodName": "zapiGetAllCartSessions" });
	};
	ZauiAPI.prototype.zapiGetCartContents = function (p_cartId) {
		//this.getZauiData( {"methodName": "zapiGetCartContents", "cartId": p_cartId} );
		this.getZauiData({ "methodName": "zapiGetCartContents", "xmlData": "<cartId>" + p_cartId + "</cartId>" });
	};
	ZauiAPI.prototype.zapiUpdateNotesToCart = function (p_cartId, p_notes) {
		//this.getZauiData( {"methodName": "zapiUpdateNotesToCart", "cartId": p_cartId, "notes": p_notes} );
		this.getZauiData({ "methodName": "zapiUpdateNotesToCart", "xmlData": "<cartId>" + p_cartId + "</cartId><notes>" + p_notes + "</notes>" });
	};
	ZauiAPI.prototype.zapiUpdateCustomerDetailsToCart = function (p_cartId, p_firstName, p_lastName, p_mobileNumber, p_email) {
		//this.getZauiData( {"methodName": "zapiUpdateCustomerDetailsToCart", "cartId": p_cartId, "firstName": p_firstName, "lastName": p_lastName, "mobileNumber": p_mobileNumber, "email": p_email} );
		this.getZauiData({ "methodName": "zapiUpdateCustomerDetailsToCart", "xmlData": "<cartId>" + p_cartId + "</cartId><firstName>" + p_firstName + "</firstName><lastName>" + p_lastName + "</lastName><mobileNumber>" + p_mobileNumber + "</mobileNumber><email>" + p_email + "</email>" });
	};
	ZauiAPI.prototype.zapiAddProductToCart = function (p_cartId, p_productId, p_quantity) {
		//this.getZauiData( {"methodName": "zapiAddProductToCart", "cartId": p_cartId, "productId": p_productId, "quantity": p_quantity} );
		this.getZauiData({ "methodName": "zapiAddProductToCart", "xmlData": "<cartId>" + p_cartId + "</cartId><productId>" + p_productId + "</productId><quantity>" + p_quantity + "</quantity>" });
	};
	ZauiAPI.prototype.zapiRemoveProductCartItem = function (p_cartId, p_productId) {
		//this.getZauiData( {"methodName": "zapiRemoveProductCartItem", "cartId": p_cartId, "productId": p_productId} );
		this.getZauiData({ "methodName": "zapiRemoveProductCartItem", "xmlData": "<cartId>" + p_cartId + "</cartId><productId>" + p_productId + "</productId>" });
	};
	ZauiAPI.prototype.zapiAddActivityToCart = function () {
		this.getZauiData({ "methodName": "zapiAddActivityToCart" });
	};
	ZauiAPI.prototype.zapiRemoveActivityCartItem = function (p_cartId, p_activityId, p_activityDate) {
		//this.getZauiData( {"methodName": "zapiRemoveActivityCartItem", "cartId": p_cartId, "productId": p_activityId, "activityId": p_activityDate} );
		this.getZauiData({ "methodName": "zapiRemoveActivityCartItem", "xmlData": "<cartId>" + p_cartId + "</cartId><activityId>" + p_activityId + "</activityId><activityDate>" + p_activityDate + "</activityDate>" });
	};
	ZauiAPI.prototype.zapiLoadingBookingIntoCart = function (p_bookingNumber) {
		//this.getZauiData( {"methodName": "zapiLoadingBookingIntoCart", "bookingNumber": p_bookingNumber} );
		this.getZauiData({ "methodName": "zapiLoadingBookingIntoCart", "xmlData": "<bookingNumber>" + p_bookingNumber + "</bookingNumber>" });
	};
	ZauiAPI.prototype.zapiProcessSingleTransaction = function () {
		this.getZauiData({ "methodName": "zapiProcessSingleTransaction" });
	};
	ZauiAPI.prototype.zapiProcessCartWithPayment = function () {
		this.getZauiData({ "methodName": "zapiProcessCartWithPayment" });
	};
	ZauiAPI.prototype.zapiCreateUniqueCartSession = function () {
		this.getZauiData({ "methodName": "zapiCreateUniqueCartSession" });
	};
	ZauiAPI.prototype.zapiPromotionCodeApply = function (p_cartId, p_promoCodeName) {
		//this.getZauiData( {"methodName": "zapiPromotionCodeApply", "cartId": p_cartId, "promoCodeName": p_promoCodeName} );
		this.getZauiData({ "methodName": "zapiPromotionCodeApply", "xmlData": "<cartId>" + p_cartId + "</cartId><promoCodeName>" + p_promoCodeName + "</promoCodeName>" });
	};
	ZauiAPI.prototype.zapiGiftCertificateApply = function (p_cartId, p_giftCertificate) {
		//this.getZauiData( {"methodName": "zapiGiftCertificateApply", "cartId": p_cartId, "giftCertificate": p_giftCertificate} );
		this.getZauiData({ "methodName": "zapiGiftCertificateApply", "xmlData": "<cartId>" + p_cartId + "</cartId><giftCertificate>" + p_giftCertificate + "</giftCertificate>" });
	};
	ZauiAPI.prototype.zapiGetPackageCategories = function () {
		this.getZauiData({ "methodName": "zapiGetPackageCategories" });
	};
	ZauiAPI.prototype.zapiGetPackagesByCategoryId = function (p_categoryId) {
		//this.getZauiData( {"methodName": "zapiGetPackagesByCategoryId", "categoryId": p_categoryId} );
		this.getZauiData({ "methodName": "zapiGetPackagesByCategoryId", "xmlData": "<categoryId>" + p_categoryId + "</categoryId>" });
	};
	ZauiAPI.prototype.zapiGetPackageDetailsByPackageId = function (p_packageId, p_packageDate) {
		//this.getZauiData( {"methodName": "zapiGetPackageDetailsByPackageId", "packageId": p_packageId, "packageDate": p_packageDate} );
		this.getZauiData({ "methodName": "zapiGetPackageDetailsByPackageId", "xmlData": "<packageId>" + p_packageId + "</packageId><packageDate>" + p_packageDate + "</packageDate>" });
	};
	ZauiAPI.prototype.zapiAddPackageToCart = function () {
		this.getZauiData({ "methodName": "zapiAddPackageToCart" });
	};
	ZauiAPI.prototype.zapiPackage_DetermineMinimumDateRequiredToBook = function (p_packageId, p_startDate) {
		//this.getZauiData( {"methodName": "zapiPackage_DetermineMinimumDateRequiredToBook", "packageId": p_packageId, "startDate": p_startDate} );
		this.getZauiData({ "methodName": "zapiPackage_DetermineMinimumDateRequiredToBook", "xmlData": "<packageId>" + p_packageId + "</packageId><startDate>" + p_startDate + "</startDate>" });
	};
	ZauiAPI.prototype.zapiPackage_SetActivityComponentDate = function (p_cartId, p_packageId, p_activityId, p_activityDate, p_activityTime, p_pickupId, p_dropoffId) {
		//this.getZauiData( {"methodName": "zapiPackage_SetActivityComponentDate"} );
		this.getZauiData({ "methodName": "zapiPackage_SetActivityComponentDate", "xmlData": "<cartId>" + p_cartId + "</cartId><packageId>" + p_packageId + "</packageId><activityId>" + p_activityId + "</activityId><activityDate>" + p_activityDate + "</activityDate><activityTime>" + p_activityTime + "</activityTime><pickupId>" + p_pickupId + "</pickupId><dropoffId>" + p_dropoffId + "</dropoffId>" });
	};
	ZauiAPI.prototype.zapiPackage_RetrivePricingDetails = function (p_packageId) {
		//this.getZauiData( {"methodName": "zapiPackage_RetrivePricingDetails", "packageId": p_packageId} );
		this.getZauiData({ "methodName": "zapiPackage_RetrivePricingDetails", "xmlData": "<packageId>" + p_packageId + "</packageId>" });
	};
	ZauiAPI.prototype.zapiGetActivityAndProductCatalog = function () {
		this.getZauiData({ "methodName": "zapiGetActivityAndProductCatalog" });
	};
	ZauiAPI.prototype.zapiGetActivityCategories = function () {
		this.getZauiData({ "methodName": "zapiGetActivityCategories" });
	};
	ZauiAPI.prototype.zapiGetActivitiesByCategoryId = function (p_activityId, p_date) {
		//this.getZauiData( {"methodName": "zapiGetActivitiesByCategoryId", "activityId": p_activityId, "activityDate": p_date} );
		this.getZauiData({ "methodName": "zapiGetActivitiesByCategoryId", "xmlData": "<activityId>" + p_activityId + "</activityId><activityDate>" + p_date + "</activityDate>" });
	};
	ZauiAPI.prototype.zapiGetAllActivitiesByName = function (p_nameToSearch) {
		//this.getZauiData( {"methodName": "zapiGetAllActivitiesByName", "activityNameToSearch": p_nameToSearch} );
		this.getZauiData({ "methodName": "zapiGetAllActivitiesByName", "xmlData": "<activityNameToSearch>" + p_nameToSearch + "</activityNameToSearch>" });
	};
	ZauiAPI.prototype.zapiGetAllActivitiesByDate = function (p_activityDate) {
		//this.getZauiData( {"methodName": "zapiGetAllActivitiesByDate", "activityDate": p_activityDate} );
		this.getZauiData({ "methodName": "zapiGetAllActivitiesByDate", "xmlData": "<activityDate>" + p_activityDate + "</activityDate>" });
	};
	ZauiAPI.prototype.zapiGetActivityDetailsByActivityId = function (p_activityId, p_activityDate) {
		//this.getZauiData( {"methodName": "zapiGetActivityDetailsByActivityId", "activityId": p_activityId, "activityDate": p_activityDate} );
		this.getZauiData({ "methodName": "zapiGetActivityDetailsByActivityId", "xmlData": "<activityId>" + p_activityId + "</activityId><activityDate>" + p_activityDate + "</activityDate>" });
	};
	ZauiAPI.prototype.zapiCheckActivityInventoryByDate = function (p_id, p_date, p_time, p_pickupLocId, p_dropOffLocId, p_passengers) {
		if (p_passengers === void 0) { p_passengers = { "seniors": "", "adults": "", "students": "", "children": "", "infants": "" }; }
		// activityTime format HH:MM:SS
		//this.getZauiData({"methodName": "zapiCheckActivityInventoryByDate", "activityId": p_id, "activityDate": p_date, "activityTime": p_time,
		//                  "pickupLocationId": p_pickupLocId, "dropoffLocationId": p_dropOffLocId, "requestedPassengers": p_passengers, "pricingOptions": p_pricing});
		this.getZauiData({ "methodName": "zapiCheckActivityInventoryByDate", "xmlData": "<activityId>" + p_id + "</activityId><activityDate>" + p_date + "</activityDate><activityTime>" + p_time + "</activityTime><pickupLocationId>" + p_pickupLocId + "</pickupLocationId><dropoffLocationId>" + p_dropOffLocId + "</dropoffLocationId><requestedPassengers>" + p_passengers + "</requestedPassengers><pricingOptions>" + p_pricing + "</pricingOptions>" });
	};
	ZauiAPI.prototype.zapiPriceQuote = function () {
		this.getZauiData({ "methodName": "zapiPriceQuote" });
	};
	ZauiAPI.prototype.zapiActivity_GetCancellations = function (p_activityId, p_cancellationStartDate, p_cancellationEndDate) {
		//this.getZauiData( {"methodName": "zapiActivity_GetCancellations", "cancellationStartDate": p_cancellationStartDate, "cancellationEndDate": p_cancellationEndDate} );
		this.getZauiData({ "methodName": "zapiActivity_GetCancellations", "xmlData": "<activityId>" + p_activityId + "</activityId><cancellationStartDate>" + p_cancellationStartDate + "</cancellationStartDate><cancellationEndDate>" + p_cancellationEndDate + "</cancellationEndDate>" });
	};
	ZauiAPI.prototype.zapiActivity_CreateCancellation = function () {
		this.getZauiData({ "methodName": "zapiActivity_CreateCancellation" });
	};
	ZauiAPI.prototype.zapiActivity_RemoveCancellation = function (p_cancellationId) {
		//this.getZauiData( {"methodName": "zapiActivity_RemoveCancellation", "cancellationId": p_cancellationId} );
		this.getZauiData({ "methodName": "zapiActivity_RemoveCancellation", "xmlData": "<cancellationId>" + p_cancellationId + "</cancellationId>" });
	};
	ZauiAPI.prototype.zapiGetMerchandiseCategories = function () {
		this.getZauiData({ "methodName": "zapiGetMerchandiseCategories" });
	};
	ZauiAPI.prototype.zapiGetMerchandiseByCategoryId = function (p_categoryId) {
		//this.getZauiData( {"methodName": "zapiGetMerchandiseByCategoryId", "categoryId": p_categoryId} );
		this.getZauiData({ "methodName": "zapiGetMerchandiseByCategoryId", "xmlData": "<categoryId>" + p_categoryId + "</categoryId>" });
	};
	ZauiAPI.prototype.zapiGetAllMerchandiseByName = function (p_productNameToSearch) {
		//this.getZauiData( {"methodName": "zapiGetAllMerchandiseByName", "productNameToSearch": p_productNameToSearch} );
		this.getZauiData({ "methodName": "zapiGetAllMerchandiseByName", "xmlData": "<productNameToSearch>" + p_productNameToSearch + "</productNameToSearch>" });
	};
	ZauiAPI.prototype.zapiGetProductDetailsByProductId = function (p_productId) {
		//this.getZauiData( {"methodName": "zapiGetProductDetailsByProductId", "productId": p_productId} );
		this.getZauiData({ "methodName": "zapiGetProductDetailsByProductId", "xmlData": "<productId>" + p_productId + "</productId>" });
	};
	ZauiAPI.prototype.zapiCheckProductInventory = function (p_productId, p_quantity) {
		//this.getZauiData( {"methodName": "zapiCheckProductInventory","productId": p_productId, "quantity": p_quantity} );
		this.getZauiData({ "methodName": "zapiCheckProductInventory", "xmlData": "<productId>" + p_productId + "</productId><quantity>" + p_quantity + "</quantity>" });
	};
	ZauiAPI.prototype.zapiSetProductQuantity = function (p_cartId, p_productId, p_quantity) {
		//this.getZauiData( {"methodName": "zapiSetProductQuantity", "cartId": p_cartId, "productId": p_productId, "quantity": p_quantity} );
		this.getZauiData({ "methodName": "zapiSetProductQuantity", "xmlData": "<cartId>" + p_cartId + "</cartId><productId>" + p_productId + "</productId><quantity>" + p_quantity + "</quantity>" });
	};
	ZauiAPI.prototype.zapiAddWaitListGuest = function (p_activityId, p_activityDate, p_activityTime, p_firstName, p_lastName, p_mobilePhone, p_email, p_comments) {
		//this.getZauiData( {"methodName": "zapiAddWaitListGuest", "activityId": p_activityId, "activityDate": p_activityDate, "activityTime": p_activityTime,
		//                   "firstName": p_firstName, "lastName": p_lastName, "mobilePhone": p_mobilePhone, "email": p_email, "comments": p_comments} );
		this.getZauiData({ "methodName": "zapiAddWaitListGuest", "xmlData": "<activityId>" + p_activityId + "<activityDate>" + p_activityDate + "</activityDate><activityTime>" + p_activityTime + "</activityTime><firstName>" + p_firstName + "</firstName><lastName>" + p_lastName + "</lastName><mobilePhone>" + p_mobilePhone + "</mobilePhone><email>" + p_email + "</email><comments>" + p_comments + "</comments>" });
	};
	ZauiAPI.prototype.zapiRemoveWaitListGuest = function (p_activityId, p_activityDate, p_activityTime, p_waitListId) {
		//this.getZauiData( {"methodName": "zapiRemoveWaitListGuest", "waitListId": p_waitListId, "activityId": p_activityId, "activityDate": p_activityDate, "activityTime": p_activityTime} );
		this.getZauiData({ "methodName": "zapiRemoveWaitListGuest", "xmlData": "<waitListId>" + p_waitListId + "</waitListId><activityId>" + p_activityId + "</activityId><activityDate>" + p_activityDate + "</activityDate><activityTime>" + p_activityTime + "</activityTime>" });
	};
	ZauiAPI.prototype.zapiConvertWaitListGuestToCart = function (p_waitListId) {
		//this.getZauiData( {"methodName": "zapiConvertWaitListGuestToCart", "waitListId": p_waitListId} )
		this.getZauiData({ "methodName": "zapiConvertWaitListGuestToCart", "xmlData": "<waitListId>" + p_waitListId + "</waitListId>" });
	};
	ZauiAPI.prototype.zapiGetAllWaitListGuestsByActivityIdAndDate = function (p_activityId, p_activityDate, p_activityTime) {
		//this.getZauiData( {"methodName": "zapiGetAllWaitListGuestsByActivityIdAndDate", "activityId": p_activityId, "activityDate": p_activityDate, "activityTime": p_activityTime} );
		this.getZauiData({ "methodName": "zapiGetAllWaitListGuestsByActivityIdAndDate", "xmlData": "<activityId>" + p_activityId + "</activityId><activityDate>" + p_activityDate + "</activityDate><activityTime>" + p_activityTime + "</activityTime>" });
	};
	/**
	 * Not sure if these API calls are needed or not.
	 */
	ZauiAPI.prototype.zapiAgents_Authenticate = function () {
		this.getZauiData({ "methodName": "zapiAgents_Authenticate" });
	};
	ZauiAPI.prototype.zapiAgentLogin = function () {
		this.getZauiData({ "methodName": "zapiAgentLogin" });
	};
	ZauiAPI.prototype.zapiAgents_GetProfile = function () {
		this.getZauiData({ "methodName": "zapiAgents_GetProfile" });
	};
	ZauiAPI.prototype.zapiAgents_UpdateProfile = function () {
		this.getZauiData({ "methodName": "zapiAgents_UpdateProfile" });
	};
	ZauiAPI.prototype.zapiAgents_UpdateUsername = function () {
		this.getZauiData({ "methodName": "zapiAgents_UpdateUsername" });
	};
	ZauiAPI.prototype.zapiAgents_UpdatePassword = function () {
		this.getZauiData({ "methodName": "zapiAgents_UpdatePassword" });
	};
	ZauiAPI.prototype.zapiAgents_GetAllCompanies = function () {
		this.getZauiData({ "methodName": "zapiAgents_GetAllCompanies" });
	};
	ZauiAPI.prototype.zapiGuests_Authenticate = function () {
		this.getZauiData({ "methodName": "zapiGuests_Authenticate" });
	};
	ZauiAPI.prototype.zapiGuests_GetProfile = function () {
		this.getZauiData({ "methodName": "zapiGuests_GetProfile" });
	};
	ZauiAPI.prototype.zapiGuests_Lookup = function () {
		this.getZauiData({ "methodName": "zapiGuests_Lookup" });
	};
	ZauiAPI.prototype.zapiGuests_UpdateProfile = function () {
		this.getZauiData({ "methodName": "zapiGuests_UpdateProfile" });
	};
	ZauiAPI.prototype.zapiGuests_UpdateUsername = function () {
		this.getZauiData({ "methodName": "zapiGuests_UpdateUsername" });
	};
	ZauiAPI.prototype.zapiGuests_UpdatePassword = function () {
		this.getZauiData({ "methodName": "zapiGuests_UpdatePassword" });
	};
	ZauiAPI.prototype.zapiGuests_UpdateAccountExpiryDate = function () {
		this.getZauiData({ "methodName": "zapiGuests_UpdateAccountExpiryDate" });
	};
	ZauiAPI.prototype.zapiGuests_GetBookingDetails = function () {
		this.getZauiData({ "methodName": "zapiGuests_GetBookingDetails" });
	};
	/** END */
	ZauiAPI.prototype.zapiSearchBookingsByLastname = function (p_lastName) {
		//this.getZauiData( {"methodName": "zapiSearchBookingsByLastname", "lastName": p_lastName} );
		this.getZauiData({ "methodName": "zapiSearchBookingsByLastname", "xmlData": "<lastName>" + p_lastName + "</lastName>" });
	};
	ZauiAPI.prototype.zapiSearchBookingsByBookingNumber = function (p_bookingNumber) {
		//this.getZauiData( {"methodName": "zapiSearchBookingsByBookingNumber", "bookingNumber": p_bookingNumber} );
		this.getZauiData({ "methodName": "zapiSearchBookingsByBookingNumber", "xmlData": "<bookingNumber>" + p_bookingNumber + "</bookingNumber>" });
	};
	ZauiAPI.prototype.zapiSearchBookingsByMobileNumber = function (p_mobileNumber) {
		//this.getZauiData( {"methodName": "zapiSearchBookingsByMobileNumber", "mobileNumber": p_mobileNumber} );
		this.getZauiData({ "methodName": "zapiSearchBookingsByMobileNumber", "xmlData": "<mobileNumber>" + p_mobileNumber + "</mobileNumber>" });
	};
	ZauiAPI.prototype.zapiGetManifestEntireDayByDate = function (p_cartId, p_date) {
		//this.getZauiData( {"methodName": "zapiGetManifestEntireDayByDate", "cartId": p_cartId, "date": p_date} );
		this.getZauiData({ "methodName": "zapiGetManifestEntireDayByDate", "xmlData": "<cartId>" + p_cartId + "</cartId><date>" + p_date + "</date>" });
	};
	ZauiAPI.prototype.zapiGetManifestIndividualByActivityIdAndDate = function (p_cartId, p_activityId, p_date, p_activityTime) {
		//this.getZauiData( {"methodName": "zapiGetManifestIndividualByActivityIdAndDate", "cartId": p_cartId, "activityId": p_activityId, "date": p_date, "activityTime": p_activityTime } );
		this.getZauiData({ "methodName": "zapiGetManifestIndividualByActivityIdAndDate", "xmlData": "<cartId>" + p_cartId + "</cartId><activityId>" + p_activityId + "</activityId><date>" + p_date + "</date><activityTime>" + p_activityTime + "</activityTime>" });
	};
	ZauiAPI.prototype.zapiEmailBookingItinerary = function (p_bookingNumber) {
		//this.getZauiData( {"methodName": "zapiEmailBookingItinerary", "bookingNumber": p_bookingNumber} );
		this.getZauiData({ "methodName": "zapiEmailBookingItinerary", "xmlData": "<bookingNumber>" + p_bookingNumber + "</bookingNumber>" });
	};
	ZauiAPI.prototype.zapiCheckIn = function (p_cartId, p_bookingNumber, p_checkInType, p_activityId, p_activityDate, p_productId, p_productDate, p_toggleStatus) {
		//this.getZauiData( {"methodName": "zapiCheckIn", "cartId": p_cartId, "bookingNumber": p_bookingNumber, "checkInType": p_checkInType, "activityId": p_activityId, "activityDate": p_activityDate, "productId": p_productId, "productDate": p_productDate, "toggleStatus": p_toggleStatus} );
		this.getZauiData({ "methodName": "zapiCheckIn", "xmlData": "<cartId>" + p_cartId + "</cartId><bookingNumber>" + p_bookingNumber + "</bookingNumber><checkInType>" + p_checkInType + "</checkInType><activityId>" + p_activityId + "</activityId><activityDate>" + p_activityDate + "</activityDate><productId>" + p_productId + "</productId><productDate>" + p_productDate + "</productDate><toggleStatus>" + p_toggleStatus + "</toggleStatus>" });
	};
	ZauiAPI.prototype.zapiSetWaiverSignedValue = function (p_bookingId, p_clientId, p_activityId, p_activityDate, p_activityTime, p_waiverValue) {
		//this.getZauiData( {"methodName": "zapiSetWaiverSignedValue", "bookingId": p_bookingId, "clientId": p_clientId, "activityId": p_activityId, "activityDate": p_activityDate, "activityTime": p_activityTime, "waiverValue": p_waiverValue} );
		this.getZauiData({ "methodName": "zapiSetWaiverSignedValue", "xmlData": "<bookingId>" + p_bookingId + "<clientId>" + p_clientId + "</clientId><activityId>" + p_activityId + "</activityId><activityDate>" + p_activityDate + "<activityTime>" + p_activityTime + "</activityTime><waiverValue>" + p_waiverValue + "</waiverValue>" });
	};
	ZauiAPI.prototype.zapiUpdateReservationActivityComponent = function (p_bookingId, p_clientId, p_bookingNumber, p_sourceAttributeId, p_destinationActivityId, p_destinationActivityDate, p_destinationActivityTime) {
		//this.getZauiData( {"methodName": "zapiUpdateReservationActivityComponent", "bookingId": p_bookingId, "clientId": p_clientId, "bookingNumber": p_bookingNumber, "sourceAttributeId": p_sourceAttributeId, "destinationActivityId": p_destinationActivityId, "destinationActivityDate": p_destinationActivityDate, "destinationActivityTime": p_destinationActivityTime} );
		this.getZauiData({ "methodName": "zapiUpdateReservationActivityComponent", "xmlData": "<bookingId>" + p_bookingId + "</bookingId><clientId>" + p_clientId + "</clientId><bookingNumber>" + p_bookingNumber + "</bookingNumber><sourceAttributeId>" + p_sourceAttributeId + "</sourceAttributeId><destinationActivityId>" + p_destinationActivityId + "</destinationActivityId><destinationActivityDate>" + p_destinationActivityDate + "</destinationActivityDate><destinationActivityTime>" + p_destinationActivityTime + "</destinationActivityTime>" });
	};
	ZauiAPI.prototype.zapiBatchAvailability = function (p_activityId, p_activityStartDate, p_activityEndDate) {
		//this.getZauiData( {"methodName": "zapiBatchAvailability", "activityId": p_activityId, "activityStartDate": p_activityStartDate, "activityEndDate": p_activityEndDate} );
		this.getZauiData({ "methodName": "zapiBatchAvailability", "xmlData": "<activityId>" + p_activityId + "<activityStartDate>" + p_activityStartDate + "</activityStartDate><activityEndDate>" + p_activityEndDate + "</activityEndDate>" });
	};
	ZauiAPI.prototype.zapiMobileLogin = function () {
		//this.getZauiData( {"methodName": "zapiMobileLogin"} );
		this.getZauiData({ "methodName": "zapiMobileLogin" });
	};
	ZauiAPI.prototype.zapiLogout = function (p_cartId) {
		//this.getZauiData( {"methodName": "zapiLogout", "cartId": p_cartId} );
		this.getZauiData({ "methodName": "zapiLogout", "xmlData": "<cartId>" + p_cartId + "</cartId>" });
	};
	return ZauiAPI;
})();


 /*
	function getPing(method) {

		var service2 = {
			path: "Banff",
			framework: $.ServicesFramework(parseInt("[ModuleContext:ModuleId]"))
		};
		service2.baseUrl = service2.framework.getServiceRoot(service2.path) + "zaui/zaui/Ping";

		var restUrl2 = service2.baseUrl;
		var jqXHR2 = $.ajax({
			url: restUrl2,
			beforeSend: service2.framework.setModuleHeaders,
			method: "POST",
			dataType: "XML",
			data: {methodName: method}
		}).done(function (data) {
			if (data) {
				console.log(data);
			}
			else {

			}
		}).always(function (data) {

		});
	}

	function getZauiData(method) {

		var service2 = {
			path: "Banff",
			framework: $.ServicesFramework(parseInt("[ModuleContext:ModuleId]"))
		};
		service2.baseUrl = service2.framework.getServiceRoot(service2.path) + "zaui/zaui/getZauiData";

		var restUrl2 = service2.baseUrl;
		var jqXHR2 = $.ajax({
			url: restUrl2,
			beforeSend: service2.framework.setModuleHeaders,
			method: "POST",
			dataType: "json",
			data: {"methodName": method}
		}).done(function (data) {
			if (data) {
				console.log(data);
			}
			else {

			}
		}).always(function (data) {

		});
	}

	function getActivityDetailsByID(p_ID) {

	}
    */

</script>